<p-toolbar>
  <div class="p-toolbar-group-left">
    <div *ngIf="(mainService.selectedProfile$ | async) as user" class="user__data user">
      <div class="user__firstname">
        Имя: {{user.first_name}}
      </div>
      <div class="user__lastname">
        Фамилия: {{user.last_name}}
      </div>
      <div class="user__role">
        Сайт: <a [href]="user.url"></a>
      </div>
    </div>
  </div>
  <div class="p-toolbar-group-right">
    <p-button icon="pi pi-sign-out" label="Logout" (onClick)="logout()"></p-button>
  </div>
</p-toolbar>
