<div class="home">
  <div>
    <h3>Навигация, главное меню</h3>
    <p>
      Вывести главное меню, состоящее из пунктов: Home, Inventory, Reports, Map, Profile. С каждого пункта меню должен быть<br>
      переход в соответствующий раздел, вынесенный в отдельный модуль. Модули должны подгружаться динамически. Внутри каждого<br>
      раздела - страница с заголовком. Меню должно реагировать на наведение, выбранный пункт меню - выделяться.<br>
    </p>
  </div>

  <div>
    <h3>Header</h3>
    <p>
      Вывести общий для всех страниц header. В нем разместить ссылку Logout (без функционала) и информацию о пользователе:<br>
      текущие First Name, Last Name; ссылка на профиль. При желании к ссылке профиля и/или Logout можно добавить иконки.<br>
    </p>
  </div>
  <div>
    <h3>Профиль</h3>
    <p>
      Добавить страницу для редактирования профиля пользователя. На странице должна быть форма с полями:<br>
      Email - readonly; First name - обязательное, не длиннее 255 символов; Last name - обязательное, не длиннее 255 символов;<br>
      Phone number - обязательное, 10 символов. "+7" пользователем не вводится, а подставляется автоматически;<br>
      WebSite URL - необязательное, валидный URL.<br>
      Чтение и запись данных из/в API - эмулировать в отдельном сервисе.<br>
    </p>
  </div>
  <div>
    <h3>Обратная связь при обновлении профиля.</h3>
    <p>
      Оформить вывод валидационных ошибок формы как всплывающие справа от полей ввода "облачка" красного цвета;<br>
      При успешном обновлении профиля показывать сообщение об этом в Header;<br>
      Эмулировать для определенного набора данных (например, First Name длиной в одинсимвол) возврат ошибки от API.<br>
      Отобразить её в той же области, что и сообщение об успехе обновления профиля;<br>
      Сообщения об успехе скрывать автоматически через 30 секунд.<br>
      Сообщения об ошибке должны удаляться после клика пользователя на иконку закрытия (крестик, например) этого сообщения.<br>
    </p>
  </div>
  <div>
    <h3>Авторизация </h3>
    <p>
      Разделить приложение на два модуля - для неавторизованных пользователей (auth) и пользователей,<br>
      успешно прошедших авторизацию (app). Запретить неавторизованным пользователям просматривать страницы, относящиеся к модулю app.<br>
      Добавить форму для логина; эмулировать запросы-ответы к API - как успешные, так и для некорректной пары логин-пароль.<br>
      При логине выдавать пользователю роль (можно случайную из некоторого набора).<br>
      Авторизация должна сохраняться при обновлении/закрытии страницы.<br>
    </p>
  </div>
  <div>
    <h3>Карта</h3>
    <p>
      Добавить инстанс карты, подгрузить GeoJSON с территориальным делением РФ,<br>
      добавить обработку клика по области со всплывающим окошком, в котором указаны координаты клика и метаинфа<br>
      в виде названия области (какое задано в GeoJSON)<br>
      Кнопка "Выбрать" под картой добавляет название выбранного региона в header приложения.<br>
    </p>
  </div>

</div>
