<div class="login-form-wrapper">
  <div [formGroup]="authFormGroup" class="login-form">
    <div class="login-form__login">
      <p-floatLabel>
        <input
          id="login"
          pInputText formControlName="login"
          [class.ng-dirty]="authFormGroup.getError('authError')"
          [class.ng-invalid]="authFormGroup.getError('authError')"
        >
        <label for="login">Логин</label>
      </p-floatLabel>
    </div>
    <div class="login-form__password">
      <p-floatLabel>
        <input
          id="password"
          pInputText formControlName="password"
          [class.ng-dirty]="authFormGroup.getError('authError')"
          [class.ng-invalid]="authFormGroup.getError('authError')"
        >
        <label for="password">Пароль</label>
      </p-floatLabel>
    </div>
    <div class="login-form__submit">
      <p-button label="Войти" (onClick)="login()"></p-button>
    </div>
  </div>
</div>
