.app-root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}

.app-loading-overlay,
.app-header {
  flex: 0 0 auto;
}

.app-router-outlet {
  height: 100%;
  width: 100%;
  flex: 1;
  overflow-y: auto;
}
